body {
  background-color: #6bc3ee;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: 0;
  padding: 4vh 4vh;
  width: 100vw;
}

.divMainRow {
  justify-content: space-evenly;
}

.divSearch {
  background-color: #00A9E4;
  border: 5px solid #027db3;
  height: 450px;
  padding: 30px 1.5vw;
  vertical-align: top;
  width: 33vw;
}

h2 {
  color: white;
  font-weight: 600;
  height: 5vh;
  letter-spacing: 1px;
}

.divDropdown {
  padding: 50px 0;
}

.dropdown {
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 25px;
  margin: 2px 0;
}

.dividerDropdown {
  height: 10px;
}

input {
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  color: #52575c;
  font-size: 30px;
  font-weight: 600;
  height: 70px;
  letter-spacing: 2px;
  width: 29.5vw;
}

img {
  height: 43vh;
  margin: 5vh 0 0 5vw;
  width: 21vw;
}

.divDeals {
  background-color: #00A9E4;
  border: 5px solid #027db3;
  height: auto;
  margin-bottom: 3vh;
  padding: 3vh 1.5vw;
  width: 60vw;
}

.divCar {
  padding: 0;
  position: relative;
}

h3 {
  bottom: 1vh;
  color: white;
  font-weight: bolder;
  letter-spacing: 0.5vw;
  position: absolute;
  text-align: center;
  width: 100%;
}

.gif_car {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}


.pDealsLocations {
  color: white;
  font-size: 24px;
  letter-spacing: 1.5px;
}

.pDealsSort {
  color: white;
  font-size: 24px;
  letter-spacing: 1.5px;
  margin-top: -30px;
  text-align: end;
}

.activeButton {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.inactiveButton {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  letter-spacing: 1.5px;
}

.divDeal {
  align-content: center;
  background-color: white;
  height: 130px;
  justify-content: space-between;
  margin-bottom: 25px;
  padding: 0 1vw 0 3vw;
  width: 58vw;
}

.pTransport {
  font-size: 2.5vw;
}

.dealDiv {
  align-content: center;
}

.dealHeading {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1vw;
  line-height: 30px;
  margin-bottom: -10px;
  margin-top: 10px;
}

.dealBody {
  color: rgba(0, 0, 0, 0.75);
  font-size: 2vw;
  margin-bottom: 0;
  margin-top: 0;
}

.dealBig {
  font-size: 3vw;
  letter-spacing: 3px;
  margin-top: 10px;
}

.dealButton {
  background-color: white;
  border-color: rgba(0, 0, 0, 0.2);
  font-size: 1vw;
  height: 100px;
  width: 5vw;
}